/* Estilo para el mensaje de error */
.alert-danger {
    color: #721c24; /* Color rojo oscuro */
    background-color: #f8d7da; /* Fondo rosado claro */
    border-color: #f5c6cb; /* Borde rosado claro */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 20px;
}
